.detailpage {
    margin: 30px 0;
    .detailpage-inner {
        display: flex;
        justify-content: space-between;

        .product-img {
            width: 510px;
            .style-name {
                margin: 15px 0;
                display: flex;
                font-size: 18px;
                p {
                    width: 90px;
                    font-size: 16px;
                }
            }

            .main-block {
                width: 100%;
                height: 520px;

                background-color: #e8e8e8;
            }

            .sub-block {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                margin-bottom: 60px;

                li {
                    width: 90px;
                    height: 90px;
                    background-color: gray;
                }
            }

            .sub-product {
                ul {
                    display: flex;
                    li {
                        margin-right: 15px;
                    }
                }
                .title {
                    font-size: 20px;
                }

                .product-img {
                    width: 195px;
                    height: 195px;

                    margin: 10px 0;
                    background-color: gray;
                }

                .product-name,
                .product-color,
                .product-price {
                    font-size: 11px;
                    color: #3e3e3e;
                }
            }

            .recent-product {
                margin: 30px 0;
            }
        }

        .product-form {
            width: 405px;
            margin-right: 105px;

            .desc {
                .product-name {
                    font-size: 30px;
                }

                .label {
                    display: flex;
                    margin: 15px 0;
                    span {
                        width: 40px;
                        text-align: center;
                        color: white;

                        &:first-child {
                            margin-right: 5px;
                        }
                    }

                    .label-new {
                        background-color: black;
                    }

                    .label-best {
                        background-color: #545adc;
                    }
                    //공통
                }

                .product-sns {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0;

                    button {
                        background-color: transparent;
                        border: none;
                    }

                    .rating {
                    }

                    .sns-box {
                        display: flex;
                        .wish-btn {
                            width: 30px;
                            img {
                                width: 100%;
                            }
                            border-right: 1px solid #e8e8e8;
                        }

                        .facebook-btn {
                            width: 20px;
                            margin: 0 10px;
                            img {
                                width: 100%;
                            }
                        }

                        .twitter-btn {
                            width: 20px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .product-price {
                    font-size: 20px;
                }

                .product-reserve {
                    font-size: 15px;
                    color: gray;
                }
            }

            .delivery {
                margin: 20px 0;
                span {
                    color: #545adc;
                    //공통
                }
                ul {
                    font-size: 14px;
                    display: flex;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                    .title {
                        width: 90px;
                        margin-right: 15px;
                        display: flex;
                        font-size: 13px;
                        .icon {
                            width: 15px;
                            margin-right: 5px;
                            img {
                                width: 100%;
                            }
                        }
                        .desc {
                        }
                    }

                    .desc {
                        font-size: 13px;

                        //공통
                    }
                }
            }
            .option {
                ul {
                    display: flex;
                }
                p {
                    color: gray;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .product-color {
                    margin: 15px 0;
                    .colors {
                        li {
                            width: 90px;
                            height: 90px;
                            background-color: gray;
                            margin-right: 15px;
                        }
                    }
                }

                .product-size {
                    .sizes {
                        li {
                            background-color: #e8e8e8;
                            width: calc(100% / 5);
                            height: 57px;
                            line-height: 57px;
                            text-align: center;
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .purchase {
                .naver {
                    margin: 15px 0;
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        color: #2db400;
                    }

                    .flex-box {
                        display: flex;
                        align-items: center;
                    }
                    .icon {
                        width: 55px;
                        margin-right: 10px;
                        img {
                            width: 100%;
                        }
                    }
                }

                .size-btn {
                    font-size: 15px;
                    display: flex;
                    width: 100%;
                    height: 58px;
                    align-items: center;
                    justify-content: center;

                    border: 3px solid gray;
                    background-color: white;
                    //공통

                    .icon {
                        width: 40px;
                        img {
                            width: 100%;
                        }
                    }
                }

                .flex-box {
                    display: flex;
                    margin: 10px 0;
                    button {
                        height: 60px;
                        font-weight: bold;
                    }
                    .cart-btn {
                        width: calc(30% - 15px);
                        margin-right: 15px;
                        background-color: white;
                        border: 3px solid black;
                    }

                    .purchase-btn {
                        width: 70%;
                        background-color: #4136bf;
                        border: none;
                        color: white;
                    }
                }

                .delivery-desc {
                    font-size: 13px;
                    color: gray;
                }
            }
        }
    }
}

//공통 처리 - 폰트사이즈/ <div className="icon"> <img> 크기조절,메인컬러
