* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: black;

    .header-inner {
        .gnb {
            position: relative;
            .logo-block {
                width: 120px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }

            .login-block {
                position: absolute;
                right: 0;
                top: 50%;

                font-size: 14px;
                a {
                    color: white;
                    margin: 0 15px;
                }
            }
        }

        .lnb {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            .lnb-block {
                color: white;
                font-size: 24px;
                font-weight: bold;
                display: flex;

                a {
                    color: white;
                    margin: 0 15px;
                }
            }

            .rank-block {
                color: white;
            }
        }
    }
}

.menu-items {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    li {
        margin: 0 15px;
        color: white;
    }
}
//공통

.nav-items {
    position: relative;
    padding: 2px;
    position: absolute; /* 절대 위치로 설정 */
    text-align: center;
    z-index: 999;
    background-color: #e8e8e8;
    height: 500px;

    ul {
        li {
            margin: 0 30px;
            font-size: 16px;
        }
    }

    .menu-img {
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 350px;
        // height: 200px;
        // background-color: white;

        .category-img {
            width: 350px;
            height: 200px;
            background-color: white;
        }
    }
}
