* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: black;

    .header-inner {
        .gnb {
            position: relative;
            .logo-block {
                width: 120px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }

            .login-block {
                position: absolute;
                right: 0;
                top: 50%;

                font-size: 14px;
                a {
                    color: white;
                    margin: 0 15px;
                }
            }
        }

        .lnb {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            .lnb-block {
                color: white;
                font-size: 24px;
                font-weight: bold;
                display: flex;

                a {
                    color: white;
                    margin: 0 15px;
                }
            }

            .rank-block {
                color: white;
            }
        }
    }
}

.menu-items {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;

    li {
        margin: 0 15px;
        color: white;

        a {
            color: white;
        }
    }
}
//공통

.nav-items {
    position: absolute; /* 절대 위치로 설정 */
    padding: 2px;
    text-align: center;
    z-index: 999;
    overflow: hidden;
    height: 500px;
    background-color: white;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        li {
            margin: 0 30px;
            font-size: 16px;
            a {
                color: #000;
                margin: 10px 0;

                &:hover {
                    color: #545adc;
                    font-weight: bold;
                }
            }
        }
    }
}

.category-img {
    display: flex;
    justify-content: end;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    img {
        height: 100%;
    }
}
