.side-menu {
    // width: 300px;
    width: 210px;
    padding: 0 30px;
    //공통
    background-color: #e8e8e8;
}

.filter {
    // width: 300px;
    width: 210px;
    padding: 0 30px;
    //공통
    .price-filter {
    }

    .color-filter {
        .colors {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .sale-filter,
    .price-filter {
        display: flex;
        flex-direction: column;
    }
}

.sub-inner {
    display: flex;
    justify-content: space-between;

    .sidebar {
    }

    .main-content {
        width: calc(100% - 300px);
        .sort-block {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .gender-box {
            }

            .sort-box {
                display: flex;
                align-items: center;
                .division {
                    display: flex;
                    align-items: center;

                    &:nth-child(2) {
                        margin: 0 10px;
                    }
                }

                .newtap {
                    .icon {
                        width: 15px;
                        img {
                            width: 100%;
                        }
                    }
                }

                .filtertap {
                    .icon {
                        width: 45px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
